In [5]:
#import pymysql
#conn = pymysql.connect(host='localhost',user='pi', passwd='Skram1Skram1', db='irrigation')
#cur = conn.cursor()
#cur.execute("SELECT * FROM moisture")

0

In [2]:
import pandas as pd
import datetime

moist = pd.read_csv('/home/pi/irrigation/test.csv')

moist.columns = ["Timetemp", "Temp", "Humidity"]
# moist

moist['Time'] = pd.to_datetime(moist["Timetemp"])
moist = moist.drop(columns='Timetemp')
moist.dtypes

moist = moist.set_index('Time')

moist['Week']=moist.index.weekofyear

testdb = moist.tail()

startDate = datetime.datetime.now()-datetime.timedelta(5)

In [3]:
testdb

                        Temp  Humidity  Week
Time
2019-06-10 18:41:51  19.8125   20.5488    24
2019-06-10 18:42:52  19.7500   20.8573    24
2019-06-10 18:43:53  19.7500   20.5060    24
2019-06-10 18:44:54  19.6250   20.8518    24
2019-06-10 18:45:55  19.5938   20.9067    24

In [14]:
import mysql.connector
cnx = mysql.connector.connect(user='pi', password='Skram1Skram1',
                              host='127.0.0.1',
                              database='irrigation')

In [29]:
#testdb.to_sql('test',cnx,if_exists='replace')
curs=cnx.cursor()

#curs.execute("select * from moisture")
curs

InternalError: Unread result found