In [2]:
import pandas as pd
import datetime

moist = pd.read_csv('/home/pi/irrigation/test.csv')

moist.columns = ["Timetemp", "Temp", "Humidity"]
# moist

moist['Time'] = pd.to_datetime(moist["Timetemp"])
moist = moist.drop(columns='Timetemp')
moist.dtypes

moist = moist.set_index('Time')

# moist['Week']=moist.index.weekofyear

testdb = moist.tail()

startDate = datetime.datetime.now()-datetime.timedelta(5)

In [3]:
testdb

                        Temp  Humidity
Time
2019-06-21 17:15:52  10.7812   17.0722
2019-06-21 17:15:57  10.7188   16.8307
2019-06-21 17:16:03  10.7188   16.8307
2019-06-21 17:16:08  10.7188   16.8307
2019-06-21 17:16:14  10.7188   16.7979

In [4]:
import pandas as pd
import sqlalchemy
engine = sqlalchemy.create_engine('mysql+pymysql://pi:Skram1Skram1@localhost:3306/irrigation')

In [5]:
moist.to_sql(name='moisture', con=engine, index=True, if_exists='replace' )