In [11]:
import pymysql
conn = pymysql.connect(host='localhost',user='pi', passwd='Skram1Skram1', db='irrigation')
# cur = conn.cursor()
# cur.execute("SELECT * FROM moisture")
conn.user

b'pi'

In [2]:
import pandas as pd

moist = pd.read_csv('/home/pi/irrigation/test.csv')
# moist = pd.read_csv('test.csv')
moist.columns = ["Timetemp", "Temp", "Humidity"]

moist['Time'] = pd.to_datetime(moist["Timetemp"])
moist = moist.drop(columns='Timetemp')
moist = moist.set_index('Time')
moist.tail()

                        Temp  Humidity
Time
2019-06-01 22:04:44  16.7188   30.4305
2019-06-01 22:05:45  16.6875   30.2365
2019-06-01 22:06:46  16.6562   30.1751
2019-06-01 22:07:46  16.4688   30.2225
2019-06-01 22:08:47  16.4688   30.4624

In [4]:
aTest=moist['2019-06-01':]
aTest

                         Temp  Humidity
Time
2019-06-01 00:00:02   8.46875   28.8784
2019-06-01 00:01:03   8.46875   28.8784
2019-06-01 00:02:04   8.43750   28.2686
2019-06-01 00:03:05   8.43750   28.2686
2019-06-01 00:04:05   8.28125   28.2043
2019-06-01 00:05:06   8.21875   28.5039
2019-06-01 00:06:07   8.28125   28.5076
2019-06-01 00:07:08   8.21875   28.5039
2019-06-01 00:08:09   8.25000   28.8090
2019-06-01 00:09:10   8.31250   28.5651
2019-06-01 00:10:11   8.18750   28.1988
2019-06-01 00:11:11   8.21875   28.6154
2019-06-01 00:12:12   8.12500   28.5540
2019-06-01 00:13:13   8.18750   28.3092
2019-06-01 00:14:14   8.12500   28.8015
2019-06-01 00:15:15   7.96875   28.5447
2019-06-01 00:16:16   7.96875   28.5447
2019-06-01 00:17:16   8.00000   28.2429
2019-06-01 00:18:17   7.93750   28.2392
2019-06-01 00:19:18   7.87500   28.1805
2019-06-01 00:20:19   7.90625   28.2373
2019-06-01 00:21:20   7.84375   28.4816
2019-06-01 00:22:21   7.87500   28.1805
2019-06-01 00:23:22   7.81250   28.4798
2019-06-01 00:24:23   7.84375   28.1786
2019-06-01 00:25:24   7.78125   28.5335
2019-06-01 00:26:24   7.75000   28.1731
2019-06-01 00:27:25   7.71875   28.8333
2019-06-01 00:28:26   7.75000   28.2834
2019-06-01 00:29:27   7.68750   28.2245
...                       ...       ...
2019-06-01 21:39:23  19.40620   30.1743
2019-06-01 21:40:24  19.37500   30.1723
2019-06-01 21:41:25  19.34380   30.5409
2019-06-01 21:42:26  19.34380   30.7923
2019-06-01 21:43:27  19.34380   30.8526
2019-06-01 21:44:27  19.21880   30.7841
2019-06-01 21:45:28  19.12500   30.4671
2019-06-01 21:46:29  19.12500   30.5267
2019-06-01 21:47:30  18.93750   30.7657
2019-06-01 21:48:31  18.84380   30.4488
2019-06-01 21:49:32  18.78120   30.4448
2019-06-01 21:50:32  18.59380   30.4326
2019-06-01 21:51:33  18.43750   30.5418
2019-06-01 21:52:34  18.28120   30.5316
2019-06-01 21:53:35  18.25000   30.1589
2019-06-01 21:54:36  18.25000   30.2181
2019-06-01 21:55:37  17.96880   30.2593
2019-06-01 21:56:38  17.75000   30.4972
2019-06-01 21:57:39  17.71880   30.2433
2019-06-01 21:58:39  17.65620   30.4911
2019-06-01 21:59:40  17.40620   30.6552
2019-06-01 22:00:41  17.34380   30.4708
2019-06-01 22:01:42  17.25000   30.4648
2019-06-01 22:02:42  17.12500   30.0869
2019-06-01 22:03:43  16.93750   30.1339
2019-06-01 22:04:44  16.71880   30.4305
2019-06-01 22:05:45  16.68750   30.2365
2019-06-01 22:06:46  16.65620   30.1751
2019-06-01 22:07:46  16.46880   30.2225
2019-06-01 22:08:47  16.46880   30.4624

[1773 rows x 2 columns]

In [13]:
# from sqlalchemy import create_engine

aTest.to_sql(name='irrigation', con=conn, if_exists = 'replace', index=False)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': not all arguments converted during string formatting