In [24]:
import os, sys, subprocess
import csv
import re


from gpiozero import LED
from time import sleep
from datetime import datetime

# read the owdir

p = subprocess.Popen(["owdir"], stdout=subprocess.PIPE)
(names,errcode) = p.communicate()
temp=names.decode()
address=temp.split("/")
# print("just decode "+names.decode())
# address=names.split("/")

add1=(str(address[1]).strip())
print(add1)

try:
    add2=(str(address[2]).strip())
except IOerror:
    print("didn't work")
else:
    print(add2)

theAddress = add1


# while True:
# if True:



p = subprocess.Popen(["owwrite",theAddress+"/date", "0"])

p = subprocess.Popen(["owread",theAddress+"/date"], stdout=subprocess.PIPE)

(date,errcode) = p.communicate()
dateObj = datetime.strptime(date.decode(),'%a %b %d %H:%M:%S %Y')
dateS = datetime.strftime(dateObj,'%Y-%m-%d %X')
# print(datetime.strftime(dateObj,'%Y%m%d %X'))

print("Time: ",dateS)

p = subprocess.Popen(["owread", theAddress+"/temperature"], stdout=subprocess.PIPE)

(temp,errcode) = p.communicate()
print("Temp: ", float(temp))

p = subprocess.Popen(["owread", theAddress+"/humidity"], stdout=subprocess.PIPE)

(output,errcode) = p.communicate()
#print(output)

humid = float(output)
print("Moisture: ", humid)

26.76249D010000
bus.0
Time:  2019-06-21 11:23:58
Temp:  8.6875
Moisture:  14.9898

In [32]:
import mysql.connector
cnx = mysql.connector.connect(user='pi', password='Skram1Skram1',
                              host='127.0.0.1',
                              database='irrigation')

curs=cnx.cursor()

sql="INSERT INTO moisture values(" + "'" + dateS + "'" + "," + str(float(temp)) + "," + str(humid) +")"

# sql="INSERT INTO moisture values(" + dateS + "," + str(float(temp)) + "," + str(humid) +")"

print(sql)

# curs.execute("""INSERT INTO moisture() values('2019-01-02', temp, output)""")
#curs.execute("INSERT INTO moisture values('2019-01-01',6,5)")

curs.execute(sql)

cnx.commit()


curs.execute("SELECT * FROM moisture where (Time > '2019-06-21 16:00')")
# print(curs.fetchall())
# list(curs)



cnx.close()

# import pymysql
# conn = pymysql.connect(host='localhost',user='pi', passwd='Skram1Skram1', db='irrigation')
# # cur = conn.cursor()
# # cur.execute("SELECT * FROM moisture")
# conn.user

INSERT INTO moisture values('2019-06-21 11:23:58',8.6875,14.9898)
(datetime.datetime(2019, 1, 1, 0, 0), 6.0, 5.0)
(datetime.datetime(2019, 1, 1, 0, 0), 6.0, 5.0)
(datetime.datetime(2019, 1, 1, 0, 0), 6.0, 5.0)
(datetime.datetime(2019, 1, 2, 0, 0), None, 8.0)
(None, 9.3125, 15.2557)
(None, 9.3125, 15.2557)
(datetime.datetime(2019, 6, 21, 11, 23, 58), 8.6875, 14.9898)
(datetime.datetime(2019, 6, 21, 11, 23, 58), 8.6875, 14.9898)
(datetime.datetime(2019, 6, 21, 11, 23, 58), 8.6875, 14.9898)

In [30]:
curs.execute("SELECT * FROM moisture")
# print(curs.fetchall())
list(curs)

InternalError: Unread result found

In [1]:
import pandas as pd

moist = pd.read_csv('/home/pi/irrigation/test.csv')
# moist = pd.read_csv('test.csv')
moist.columns = ["Timetemp", "Temp", "Humidity"]

moist['Time'] = pd.to_datetime(moist["Timetemp"])
moist = moist.drop(columns='Timetemp')
moist = moist.set_index('Time')
moist.tail()

                        Temp  Humidity
Time
2019-06-20 15:04:17  12.7500   15.9807
2019-06-20 15:05:18  12.6250   16.5909
2019-06-20 15:06:19  12.5312   16.2487
2019-06-20 15:07:19  12.5938   16.2826
2019-06-20 15:08:20  12.5312   16.6856

In [2]:
aTest=moist.tail(10)
aTest

                        Temp  Humidity
Time
2019-06-20 13:20:39  16.8125   16.7711
2019-06-20 13:21:45  17.1562   16.4726
2019-06-20 13:23:13  17.5000   16.4846
2019-06-20 13:25:52  17.0938   16.4305
2019-06-20 15:03:16  12.9688   15.9880
2019-06-20 15:04:17  12.7500   15.9807
2019-06-20 15:05:18  12.6250   16.5909
2019-06-20 15:06:19  12.5312   16.2487
2019-06-20 15:07:19  12.5938   16.2826
2019-06-20 15:08:20  12.5312   16.6856

In [50]:
for Index, row in aTest.iterrows():
    zirg = row
    zirg.index.data
    print(zirg.index.data)
    #print(zirg.to_string)
    #print(row)

<memory at 0x6d39ffa0>
<memory at 0x6d39ffa0>
<memory at 0x6d39ffa0>
<memory at 0x6d39ffa0>
<memory at 0x6d39ffa0>
<memory at 0x6d39ffa0>
<memory at 0x6d39ffa0>
<memory at 0x6d39ffa0>
<memory at 0x6d39ffa0>
<memory at 0x6d39ffa0>

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: FutureWarning: Index.data is deprecated and will be removed in a future version
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:4: FutureWarning: Index.data is deprecated and will be removed in a future version
  after removing the cwd from sys.path.

In [35]:
for row in aTest.itertuples():
    zigg=row
    #snorg=zigg.index.dtype
    print(zigg.index)

<built-in method index of Pandas object at 0x6d2b00f0>
<built-in method index of Pandas object at 0x6d2b0b10>
<built-in method index of Pandas object at 0x6d2b00f0>
<built-in method index of Pandas object at 0x6d2b0b10>
<built-in method index of Pandas object at 0x6d2b00f0>
<built-in method index of Pandas object at 0x6d2b0b10>
<built-in method index of Pandas object at 0x6d2b00f0>
<built-in method index of Pandas object at 0x6d2b0b10>
<built-in method index of Pandas object at 0x6d2b0540>
<built-in method index of Pandas object at 0x6d2b0b10>

In [13]:
# from sqlalchemy import create_engine

aTest.to_sql(name='irrigation', con=conn, if_exists = 'replace', index=False)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': not all arguments converted during string formatting