In [1]:
import pandas as pd
import sqlalchemy

In [2]:
engine = sqlalchemy.create_engine('mysql+pymysql://pi:Skram1Skram1@localhost:3306/irrigation')

In [3]:
df = pd.read_sql_table("moisture",engine)
df.tail()

                      Time     Temp  Humidity
171171 2020-06-13 22:04:27  12.8750   34.4290
171172 2020-06-13 22:09:28  12.9062   35.6609
171173 2020-06-13 22:14:29  12.7812   35.9589
171174 2020-06-13 22:19:30  12.8125   36.5760
171175 2020-06-13 22:24:31  12.7500   37.6276