In [1]:
import pandas as pd
import sqlalchemy

In [4]:
engine = sqlalchemy.create_engine('mysql+pymysql://pi:Skram1Skram1@localhost:3306/irrigation')

In [7]:
df = pd.read_sql_table("moisture",engine)
df

                  time     temp  humidity
0  2019-01-01 00:00:00   6.0000    5.0000
1  2019-01-01 00:00:00   6.0000    5.0000
2  2019-01-01 00:00:00   6.0000    5.0000
3  2019-01-02 00:00:00      NaN    8.0000
4                  NaT   9.3125   15.2557
5                  NaT   9.3125   15.2557
6  2019-06-21 11:23:58   8.6875   14.9898
7  2019-06-21 11:23:58   8.6875   14.9898
8  2019-06-21 11:23:58   8.6875   14.9898
9  2019-06-21 13:37:07  14.8125   15.1837
10 2019-06-21 13:38:08  14.6875   15.4289
11 2019-06-21 13:39:08  14.6875   15.0908
12 2019-06-21 13:40:09  14.5938   15.3957
13 2019-06-21 13:41:10  14.5312   14.8359