In [1]:
import pandas as pd
import logging
from datetime import datetime
import dateutil
from pytz import timezone


weatherDF = pd.read_pickle("./AllWeather.pkl")
# print(weatherDF['Date/Time','Total Rain (mm)'][540:720])

In [2]:
weatherDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1461 entries, 0 to 1460
Data columns (total 31 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Longitude (x)              1461 non-null   float64
 1   Latitude (y)               1461 non-null   float64
 2   Station Name               1461 non-null   object
 3   Climate ID                 1461 non-null   int64
 4   Date/Time                  1461 non-null   object
 5   Year                       1461 non-null   int64
 6   Month                      1461 non-null   int64
 7   Day                        1461 non-null   int64
 8   Data Quality               0 non-null      float64
 9   Max Temp (°C)              1240 non-null   float64
 10  Max Temp Flag              43 non-null     object
 11  Min Temp (°C)              1221 non-null   float64
 12  Min Temp Flag              43 non-null     object
 13  Mean Temp (°C)             1218 non-null   float64
 14  Mean Temp Flag             43 non-null     object
 15  Heat Deg Days (°C)         1218 non-null   float64
 16  Heat Deg Days Flag         43 non-null     object
 17  Cool Deg Days (°C)         1218 non-null   float64
 18  Cool Deg Days Flag         43 non-null     object
 19  Total Rain (mm)            1196 non-null   float64
 20  Total Rain Flag            117 non-null    object
 21  Total Snow (cm)            1220 non-null   float64
 22  Total Snow Flag            138 non-null    object
 23  Total Precip (mm)          1248 non-null   float64
 24  Total Precip Flag          167 non-null    object
 25  Snow on Grnd (cm)          587 non-null    float64
 26  Snow on Grnd Flag          127 non-null    object
 27  Dir of Max Gust (10s deg)  965 non-null    float64
 28  Dir of Max Gust Flag       115 non-null    object
 29  Spd of Max Gust (km/h)     1107 non-null   object
 30  Spd of Max Gust Flag       146 non-null    object
dtypes: float64(13), int64(4), object(14)
memory usage: 365.2+ KB

In [3]:
weatherDF['Date/Time'] = pd.to_datetime(weatherDF['Date/Time'])
moistHist = weatherDF[['Date/Time','Total Rain (mm)','Max Temp (°C)','Min Temp (°C)','Mean Temp (°C)']]
moistHist[moistHist['Total Rain (mm)'] > 0]

      Date/Time  Total Rain (mm)  Max Temp (°C)  Min Temp (°C)  Mean Temp (°C)
2    2017-01-03              0.1          -15.5          -22.4           -19.0
30   2017-01-31              0.2           -4.6          -12.1            -8.4
31   2017-02-01              0.2           -7.1          -11.8            -9.5
55   2017-02-25              0.2           -3.1          -10.5            -6.8
76   2017-03-18              0.6           15.4           -3.5             6.0
...         ...              ...            ...            ...             ...
1241 2020-05-26              2.0           15.3            6.0            10.7
1246 2020-05-31             41.0           19.6           10.4            15.0
1251 2020-06-05              1.8           18.6            4.0            11.3
1252 2020-06-06              3.6           19.1            9.4            14.3
1253 2020-06-07              9.7           11.6            7.8             9.7

[233 rows x 5 columns]

In [7]:
fcstHist = pd.read_pickle('/home/perrinms/irrigation/weather/FcstHistory.pkl')
fcstHist

,Date Forecasted,Day,DayNight,Forecast Date,Forecast Published,POP
0,2019-06-30 18:00:00,Sunday,night,NaT,2019-06-30 16:00:00-06:00,0.3
1,2019-07-01 18:00:00,Monday,night,NaT,2019-06-30 16:00:00-06:00,0.6
2,2019-07-03 18:00:00,Wednesday,night,NaT,2019-06-30 16:00:00-06:00,0.6
3,2019-07-04 18:00:00,Thursday,night,NaT,2019-06-30 16:00:00-06:00,0.6
4,2019-07-05 11:00:00,Friday,day,NaT,2019-06-30 16:00:00-06:00,0.6
...,...,...,...,...,...,...
2848,2020-07-12 18:00:00,Sunday,night,NaT,2020-07-07 05:00:00-06:00,0.6
2849,2020-07-07 11:00:00,Tuesday,day,NaT,2020-07-07 11:00:00-06:00,0.6
2850,2020-07-07 18:00:00,Tuesday,night,NaT,2020-07-07 11:00:00-06:00,0.3
2851,2020-07-12 18:00:00,Sunday,night,NaT,2020-07-07 11:00:00-06:00,0.6
2852,2020-07-12 18:00:00,Sunday,night,NaT,2020-07-07 16:10:00-06:00,0.6

In [10]:
# from datetime 
# import Period
weatherDF['Day of Year'] = weatherDF.to_period(['Date/Time'], freq='H', axis=1, copy=True)

TypeError: to_period() got multiple values for argument 'freq'

# can start analysis!