In [1]:
import pandas as pd

# moist = pd.read_csv('/home/pi/irrigation/test.csv')
moist = pd.read_csv('test.csv')

In [2]:
moist.columns = ["Timetemp", "Humidity", "Temp"]
moist.tail()

               Timetemp  Humidity     Temp
5365  20190528 11:19:36   39.3750  30.2761
5366  20190528 11:20:50   40.0938  30.3841
5367  20190528 11:22:21   40.5938  30.4181
5368  20190528 11:24:05   40.4375  30.3841
5369  20190528 11:26:02   39.8438  30.3672

In [3]:
moist['Time'] = pd.to_datetime(moist["Timetemp"])
moist = moist.drop(columns='Timetemp')
moist.dtypes

Humidity           float64
Temp               float64
Time        datetime64[ns]
dtype: object

In [14]:
# import datetime

d = datetime.datetime(2008, 8, 18, 9, 0)
d + pd.offsets.Week(-1)

moist['WeekAgo'] = moist['Time'] +pd.offsets.Week(-1)

moist.head()

   Humidity     Temp                Time             WeekAgo
0   19.2812  25.5513 2019-05-24 16:19:41 2019-05-10 16:19:41
1   19.3750  25.5064 2019-05-24 16:20:42 2019-05-10 16:20:42
2   19.5000  25.8244 2019-05-24 16:21:43 2019-05-10 16:21:43
3   19.7188  25.8364 2019-05-24 16:22:44 2019-05-10 16:22:44
4   19.5625  25.8278 2019-05-24 16:23:44 2019-05-10 16:23:44

In [15]:
moist = moist.set_index('Time')
moist.head()

                     Humidity     Temp             WeekAgo
Time
2019-05-24 16:19:41   19.2812  25.5513 2019-05-10 16:19:41
2019-05-24 16:20:42   19.3750  25.5064 2019-05-10 16:20:42
2019-05-24 16:21:43   19.5000  25.8244 2019-05-10 16:21:43
2019-05-24 16:22:44   19.7188  25.8364 2019-05-10 16:22:44
2019-05-24 16:23:44   19.5625  25.8278 2019-05-10 16:23:44

In [7]:
moist['Week']=moist.index.weekofyear
moist['freq']=moist.index.freq
moist.head()

                     Humidity     Temp  Week  freq
Time
2019-05-24 16:19:41   19.2812  25.5513    21  None
2019-05-24 16:20:42   19.3750  25.5064    21  None
2019-05-24 16:21:43   19.5000  25.8244    21  None
2019-05-24 16:22:44   19.7188  25.8364    21  None
2019-05-24 16:23:44   19.5625  25.8278    21  None

In [45]:
moist.loc['2019']

                     Humidity     Temp             WeekAgo
Time
2019-05-24 16:19:41   19.2812  25.5513 2019-05-10 16:19:41
2019-05-24 16:20:42   19.3750  25.5064 2019-05-10 16:20:42
2019-05-24 16:21:43   19.5000  25.8244 2019-05-10 16:21:43
2019-05-24 16:22:44   19.7188  25.8364 2019-05-10 16:22:44
2019-05-24 16:23:44   19.5625  25.8278 2019-05-10 16:23:44
2019-05-24 16:24:45   19.5938  25.4686 2019-05-10 16:24:45
2019-05-24 16:25:46   19.6250  25.8313 2019-05-10 16:25:46
2019-05-24 16:26:47   19.5938  25.8296 2019-05-10 16:26:47
2019-05-24 16:27:48   19.4688  25.8227 2019-05-10 16:27:48
2019-05-24 16:28:49   19.3750  25.8175 2019-05-10 16:28:49
2019-05-24 16:29:50   19.2188  25.8089 2019-05-10 16:29:50
2019-05-24 16:30:50   19.2812  25.4516 2019-05-10 16:30:50
2019-05-24 16:31:51   19.3750  25.5064 2019-05-10 16:31:51
2019-05-24 16:32:52   19.2500  25.5495 2019-05-10 16:32:52
2019-05-24 16:33:53   19.2812  25.8123 2019-05-10 16:33:53
2019-05-24 16:34:54   19.0938  25.1803 2019-05-10 16:34:54
2019-05-24 16:35:54   19.1562  25.4946 2019-05-10 16:35:54
2019-05-24 16:40:17   19.2188  25.1870 2019-05-10 16:40:17
2019-05-24 16:41:18   19.0312  25.5259 2019-05-10 16:41:18
2019-05-24 16:42:18   19.0000  25.7969 2019-05-10 16:42:18
2019-05-24 16:43:19   18.9062  25.7917 2019-05-10 16:43:19
2019-05-24 16:44:20   19.0000  25.1753 2019-05-10 16:44:20
2019-05-24 16:45:21   18.9375  25.4827 2019-05-10 16:45:21
2019-05-24 16:46:22   19.0312  25.4381 2019-05-10 16:46:22
2019-05-24 16:47:23   19.0938  25.4912 2019-05-10 16:47:23
2019-05-24 16:48:23   19.0938  25.4912 2019-05-10 16:48:23
2019-05-24 16:49:24   19.0938  25.8020 2019-05-10 16:49:24
2019-05-24 16:50:25   19.0000  25.7969 2019-05-10 16:50:25
2019-05-24 16:51:26   18.9375  25.4827 2019-05-10 16:51:26
2019-05-24 16:52:27   18.9062  25.6312 2019-05-10 16:52:27
...                       ...      ...                 ...
2019-05-28 10:54:09   26.3438  28.4729 2019-05-14 10:54:09
2019-05-28 10:55:10   27.8125  28.8811 2019-05-14 10:55:10
2019-05-28 10:56:11   29.5000  28.9873 2019-05-14 10:56:11
2019-05-28 10:57:12   31.0312  29.0844 2019-05-14 10:57:12
2019-05-28 10:58:13   32.0938  29.2093 2019-05-14 10:58:13
2019-05-28 10:59:14   32.9375  29.3209 2019-05-14 10:59:14
2019-05-28 11:00:15   33.5000  29.5636 2019-05-14 11:00:15
2019-05-28 11:01:16   34.1250  29.2825 2019-05-14 11:01:16
2019-05-28 11:02:17   34.4688  29.2475 2019-05-14 11:02:17
2019-05-28 11:03:18   35.4688  29.6922 2019-05-14 11:03:18
2019-05-28 11:04:19   36.5000  29.4365 2019-05-14 11:04:19
2019-05-28 11:05:20   37.5000  29.8260 2019-05-14 11:05:20
2019-05-28 11:06:21   38.2188  29.8736 2019-05-14 11:06:21
2019-05-28 11:07:22   38.8438  30.0327 2019-05-14 11:07:22
2019-05-28 11:08:23   39.0625  29.9884 2019-05-14 11:08:23
2019-05-28 11:09:23   39.0625  29.9297 2019-05-14 11:09:23
2019-05-28 11:10:24   39.0625  29.9297 2019-05-14 11:10:24
2019-05-28 11:11:26   39.0625  29.9884 2019-05-14 11:11:26
2019-05-28 11:12:27   39.1875  29.9968 2019-05-14 11:12:27
2019-05-28 11:13:28   39.0938  30.3165 2019-05-14 11:13:28
2019-05-28 11:14:29   38.8438  29.9152 2019-05-14 11:14:29
2019-05-28 11:15:30   38.6875  30.2891 2019-05-14 11:15:30
2019-05-28 11:16:31   38.5000  30.2172 2019-05-14 11:16:31
2019-05-28 11:17:31   38.6250  29.9006 2019-05-14 11:17:31
2019-05-28 11:18:33   38.7188  30.2319 2019-05-14 11:18:33
2019-05-28 11:19:36   39.3750  30.2761 2019-05-14 11:19:36
2019-05-28 11:20:50   40.0938  30.3841 2019-05-14 11:20:50
2019-05-28 11:22:21   40.5938  30.4181 2019-05-14 11:22:21
2019-05-28 11:24:05   40.4375  30.3841 2019-05-14 11:24:05
2019-05-28 11:26:02   39.8438  30.3672 2019-05-14 11:26:02

[5370 rows x 3 columns]

In [9]:
import matplotlib.pyplot as plt

moist['Humidity'].plot()

In [38]:
import pandas.tseries.offsets
import numpy as np
# moist['Time'].day_name()
# moist['Time']
s=moist.index.month_name()

In [59]:
import datetime
s=moist.tail(1)
# currentM=s.index.to_pydatetime
currentM=s.index
pastM=(s.WeekAgo).dt.date
anotherPast=(s.index +pd.offsets.Week(-1))
currentM=currentM.date
# diff=currentM-pastM
print('Now ', currentM, '\nPast ',pastM, '\n',anotherPast)
# print(pastM.dt.date)

Now  [datetime.date(2019, 5, 28)]
Past  Time
2019-05-28 11:26:02    2019-05-14
Name: WeekAgo, dtype: object
 DatetimeIndex(['2019-05-21 11:26:02'], dtype='datetime64[ns]', name='Time', freq=None)

In [49]:
moist.loc[pastM.dt.date:currentM.dt.date]

AttributeError: 'function' object has no attribute 'dt'